h3 {
  align-items: center;
  display: flex;
  margin: 0;
}

.equipments {
  grid-template-columns: repeat(3, 1fr);
  padding-inline: var(--geist-space-4x);
  padding-block: var(--geist-space-4x);
  gap: var(--geist-space-4x);
  max-width: 1440px;
  display: grid;
}

.equipment-card {
  border: 1px solid oklch(0.845 0 89.876);
  border-radius: var(--geist-space-3x);
  padding: var(--geist-space-4x);
  flex-direction: column;
  display: flex;
  width: 100%;
}

.equipment-head {
  padding-bottom: var(--geist-space-3x);
  justify-content: space-between;
  gap: var(--geist-space-4x);
  display: flex;
}

.equipment-body {
  padding-bottom: 1rem;
}

.equipment-footer {
  justify-content: space-between;
  display: flex;
}

.status {
  border-radius: var(--geist-space-3x);
  padding-block: var(--geist-space-2x);
  padding-inline: var(--geist-space-3x);
  max-height: 40px;
}

.borrower {
  gap: var(--geist-space-2x);
  justify-content: center;
  align-items: center;
  display: flex;
}

.borrower-icon {
  border-radius: var(--rounded-full);
  justify-content: center;
  align-items: center;
  display: flex;
  height: 30px;
  width: 30px;
}

.button {
  border-radius: var(--rounded-full);
  background-color: transparent;
  justify-content: center;
  align-items: center;
  height: 1.875rem;
  width: 1.875rem;
  display: flex;
}

.pagination-wrapper {
  padding-inline: var(--geist-space-4x);
  gap: var(--geist-space-3x);
  align-items: center;
  display: flex;
}

.line-clamper {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.line-clamp-1 {
  max-width: 320px;
  -webkit-line-clamp: 1;
}

.line-clamp-2 {
  -webkit-line-clamp: 2;
}

.line-clamp-3 {
  -webkit-line-clamp: 3;
}

.equipment-header {
  display: flex;
  gap: var(--geist-space-4x);
  align-items: flex-start;
  flex: 1;
  min-width: 0;
}

.status {
  flex: 0 0 auto;
  align-self: center;
}
