h3 {
  align-items: center;
  display: flex;
  margin: 0;
}

.equipments {
  grid-template-columns: repeat(3, 1fr);
  padding-block: var(--geist-space-4x);
  gap: var(--geist-space-4x);
  max-width: 1440px;
  display: grid;
}

.equipment-card {
  border: 1px solid oklch(0.845 0 89.876);
  border-radius: var(--geist-space-3x);
  padding: var(--geist-space-4x);
  flex-direction: column;
  display: flex;
  width: 100%;
}

.equipment-head {
  padding-bottom: var(--geist-space-3x);
  justify-content: space-between;
  gap: var(--geist-space-4x);
  display: flex;
}

.equipment-body {
  padding-bottom: 1rem;
}

.equipment-footer {
  justify-content: space-between;
  display: flex;
}

.status {
  border-radius: var(--geist-space-3x);
  padding-block: var(--geist-space-2x);
  padding-inline: var(--geist-space-3x);
}

.status.available {
  background-color: oklch(0.979 0.021 166.113);
  color: oklch(0.627 0.17 149.214);
}

.borrower {
  gap: var(--geist-space-2x);
  justify-content: center;
  align-items: center;
  display: flex;
}

.status.borrowed, .borrower-icon {
  background-color: oklch(0.961 0.016 266.279);
  color: oklch(0.559 0.166 267.659);
}

.borrower-icon {
  border-radius: var(--rounded-full);
  justify-content: center;
  align-items: center;
  display: flex;
  height: 30px;
  width: 30px;
}

.status.maintained {
  background-color: oklch(0.971 0.013 17.38);
  color: oklch(0.577 0.215 27.325);
}
