

<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="name">
      E-mail
    </label>
    <input id="name" type="text" formControlName="email">
  </div>
  <div>
    <label for="name">
      Full Name
    </label>
    <input id="name" type="text" formControlName="fullname">
  </div>
  <div>
    <label for="address">
      Password
    </label>
    <input id="address" type="password" formControlName="password">
  </div>
  <button class="button" type="submit">Register</button>
  <a routerLink="/login">Login</a>
</form>
