@if (isOpen && equipment) {
  <div class="dialog-overlay">
    <dialog
      class="dialog"
      #dialog
      (keydown.esc)="closeDialog()"
      (click)="onDialogClick($event)"
    >
      <div class="dialog-header">
        <h2 class="dialog-title">Delete Equipment: {{equipment.name}}</h2>
      </div>
      <div class="dialog-body">
        <p>After deleting this Task you will no longer be able to access it.</p>
        <p>Do you want to delete <span class="text-body-bold">{{ equipment.name }}</span>?</p>
      </div>
      <div class="dialog-footer">
        <button (click)="closeDialog()" class="closeBtn" aria-label="Close dialog">Close</button>
        <button (click)="onSubmit()" class="delete-button" aria-label="Delete equipment">
          Delete
        </button>
      </div>
    </dialog>
  </div>
}
